  .urbanThead {
      height: 20px;
      border: 2px green;
      border-bottom: 50px;
  }

  .urbanTh {
      border: 2px rgb(72, 80, 42);
      border-radius: 15px;
      text-align: center;

  }

  .tableRowStart {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }

  .eachcolumn {
      word-break: break-all;
      width: 20%;
  }

  .tableRowEnd {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
  }

  .spacer {
      height: 2px;
  }