.table {
  border-collapse: separate;
  /* border-spacing: 0; */
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
  border: 1px solid;
  background-color: #13678C;
  margin: 5px;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}
  
.urbanThead {
  /* background-color: black; */
  height: 20px;
  border: 2px green;
  border-bottom: 50px;
}
.urbanTh {
  background-color: #ffffff;
  border: 2px rgb(72, 80, 42);
  border-radius: 10px;
  text-align: center;
  
}
tr{
  text-align: center;
  cursor: pointer;
}

.tableRowStart {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tableRowEnd {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-around;

}